@model List<User>

@{
    ViewData["Title"] = "Usuários";
}

<a asp-controller="User" asp-action="Create">Criar Usuário</a>
<ul>
    @foreach (var user in Model)
    {
        <li>
            <p>@user.UserId</p>
            <p>@user.Name</p>
            <p>@user.Email</p>
            <p>@user.Phone</p>
            <p>@user.Type.ToString()</p>
            <a  asp-controller="User" asp-action="Profile" asp-route-id="@user.UserId">Perfil</a>
        </li>
    }
</ul>

<div
    condition='@TempData["msg"] != null'
    class="position-fixed top-0 end-0 p-3 mt-5 w-25" 
    style="z-index: 11"
>
  <alert message='@TempData["msg"]' dismissible="true"></alert>
</div>