@{
    var PrimaryActionText = ViewData["FormActionButton.PrimaryActionText"] ??= "Cadastrar";
    var SecondaryActionText = ViewData["FormActionButton.SecondaryActionText"] ??= "Principal";
    var SecondaryAction = ViewData["FormActionButton.SecondaryAction"] ??= "Index";
    var SecondaryController = ViewData["FormActionButton.SecondaryController"] ??= "Home";
    var DangerActionText = ViewData["FormActionButton.DangerActionText"] ??= "Excluir";
    var HasDangerAction = ViewData["FormActionButton.HasDangerAction"] != null;
}

<div class="d-flex justify-content-end gap-2">
    <button
        condition="@HasDangerAction"
        type="button"
        class="btn btn-outline-danger flex-grow-1 flex-md-grow-0"
        data-bs-toggle="modal"
        data-bs-target="#dangerActionModal"
    >@DangerActionText</button>
    <a
        asp-action="@SecondaryAction"
        asp-controller="@SecondaryController"
        class="btn btn-outline-secondary flex-grow-1 flex-md-grow-0"
    >@SecondaryActionText</a>
    <button
        type="submit"
        class="btn btn-primary flex-grow-1 flex-md-grow-0"
    >@PrimaryActionText</button>
</div>