@{
    var user = SessionHelper.GetObjectFromSession<User>(Context.Session, SessionKeys.USER_KEY.ToString());
    var hasUser = user != null;
}
<nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
>
    <div class="container">
        <a class="navbar-brand" asp-controller="Home" asp-action="Index">
            <img
                src="~/img/logo.svg"
                alt='@ViewData["siteName"] logo'
                class="logo"
            />
        </a>

        <div class="d-inline-flex order-sm-1 align-items-center gap-2">
            <div
                condition="@hasUser"
                class="dropdown"
            >
                <button
                    type="button"
                    id="userDropdownMenuActions"
                    class="btn dropdown-toggle d-inline-flex justify-content-centers align-items-center"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                >
                    <span class="material-icons">add</span>
                </button>

                <ul
                    class="dropdown-menu dropdown-menu-end"
                    aria-labelledby="userDropdownMenuActions"
                >
                    <li>
                        <a
                            class="dropdown-item"
                            asp-controller="Food"
                            asp-action="Create"
                        >Nova doação</a>
                    </li>
                    <li>
                        <a
                            class="dropdown-item"
                            asp-controller="Food"
                            asp-action="Index"
                            asp-route-userid="@user.UserId"
                        >Suas doações</a>
                    </li>
                </ul>
            </div>

            <a
                condition="!hasUser"
                class="btn btn-primary"
                asp-controller="Home"
                asp-action="Login"
            >
                Acessar
            </a>

            <div
                condition="@hasUser"
                class="dropdown"
            >
                <button
                    type="button"
                    id="userDropdownMenuSettings"
                    class="nav-link dropdown-toggle img-wrapper p-0"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                >
                    <img
                        src="@user.Photo"
                        class="img-fluid"
                        alt="Avatar de @user.Name"
                    />
                </button>
                <ul
                    class="dropdown-menu dropdown-menu-end"
                    aria-labelledby="userDropdownMenuSettings"
                >
                    <li class="d-sm-none">
                        <a
                            class="dropdown-item"
                            asp-controller="User"
                            asp-action="Index"
                        >Usuários</a>
                    </li>
                    <li class="d-sm-none">
                        <a
                            class="dropdown-item"
                            asp-controller="Food"
                            asp-action="Index"
                        >Doações</a>
                    </li>
                    <hr class="dropdown-divider d-sm-none" />
                    <li>
                        <a
                            class="dropdown-item"
                            asp-controller="Requisition"
                            asp-action="Index"
                        >
                            Solicitações
                        </a>
                    </li>
                    <li>
                        <a
                            class="dropdown-item"
                            asp-controller="User"
                            asp-action="Profile"
                            asp-route-id="@user.UserId"
                        >Perfil</a>
                    </li>
                    <hr class="dropdown-divider" />
                    <li>
                        <a
                            class="dropdown-item"
                            asp-controller="Home"
                            asp-action="Logout"
                        >Sair</a>
                    </li>
                </ul>
            </div>

            <button
                condition="!hasUser"
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target=".navbar-collapse"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <div
            class="navbar-collapse collapse d-sm-inline-flex justify-content-between"
        >
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a
                        class="nav-link"
                        asp-controller="User"
                        asp-action="Index"
                    >Usuários</a>
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link"
                        asp-controller="Food"
                        asp-action="Index"
                    >Doações</a>
                </li>
            </ul>
        </div>
    </div>
</nav>