@model FoodViewModel
@{
    ViewData["Title"] = "Alimentos";
    var actionMessage = ViewData["ActionMessage"] ??= "Que tal ser o primeiro?";
    var user = SessionHelper.GetObjectFromSession<User>(Context.Session, SessionKeys.USER_KEY.ToString());
    var hasUser = user != null;
}

<div class="row">
    @if(Model.Foods.Count == 0)
    {
        <div class="card">
            <div class="card-body d-flex justify-content-between align-items-center flex-column">
                Ainda não há nenhuma doação cadastrada.
                @if(hasUser)
                {
                    <a
                        asp-controller="Food"
                        asp-action="Create"
                        class="btn btn-link"
                    >
                        @actionMessage
                    </a>
                }
                else
                {
                    <button
                        type="button"
                        class="btn btn-link make-requisition p-0 border-0"
                        data-bs-toggle="modal"
                        data-bs-target="#requisitionFoodModal"
                        data-modal-action-text="o cadastro"
                    >@actionMessage</button>
                }
            </div>
        </div>
    }

    @foreach(var food in Model.Foods)
    {
        var isSameUser = user?.UserId == food.UserId;
        var buttonText = hasUser && isSameUser ? "Detalhes" : "Reservar";
        var buttonSeverity = hasUser && !isSameUser ? "primary" : "outline-secondary";

        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">
                        @food.Name
                    </div>
                </div>
                <div class="position-relative">
                    <span
                        condition="@food.IsPerishable"
                        class="badge bg-dark text-white position-absolute top-0 end-0 mx-2 my-2"
                    >
                        Perecível
                    </span>
                    @if(!hasUser)
                    {
                        <button
                            type="button"
                            class="btn btn-link make-requisition p-0 border-0"
                            data-bs-toggle="modal"
                            data-bs-target="#requisitionFoodModal"
                            data-modal-action-text="a reserva"
                        >
                            <img
                                class="card-img-top" 
                                alt="Alimento: @food.Name" 
                                src='@food.UrlImage'
                            />
                        </button>
                    }
                    else
                    {
                        <button
                            type="button"
                            class="btn btn-link make-requisition p-0 border-0"
                            data-bs-toggle="modal"
                            data-bs-target="#requisitionFoodModal"
                            data-food-id="@food.FoodId"
                            data-food-name="@food.Name"
                            data-food-has-manufactured-date="@(food.ManufacturedAt.HasValue.ToString().ToLower())"
                            data-food-manufactured-at="@food.ManufacturedAt?.ToShortDateString()"
                            data-food-expire-at="@food.ExpireAt.ToShortDateString()"
                            data-food-is-perishable="@food.IsPerishable.GetValueOrDefault(false).ToString().ToLower()"
                            data-food-type="@(food.Type.GetAttribute<DisplayAttribute>().Name)"
                            data-food-description="@food.Description"
                            data-donor-id="@food.UserId"
                            data-donor-name="@food.User?.Name"
                            data-donor-contact="@food.User?.Phone"
                            data-donor-location="@food.User?.Address?.City"
                            data-modal-title='@(hasUser && isSameUser ? "Informações detalhadas" : "Solicitar reserva do alimento")'
                            data-modal-donor-text='@(hasUser && isSameUser ? "Suas informações" : "Informações sobre o doador")'
                            data-modal-close-text='@(hasUser && isSameUser ? "Fechar" : "Cancelar")'
                            data-modal-is-minimal='@((hasUser && isSameUser).ToString().ToLower())'
                        >
                            <img
                                class="card-img-top" 
                                alt="Alimento: @food.Name" 
                                src='@food.UrlImage'
                            />
                        </button>
                    }
                </div>
                <div class="card-body">
                    <small class="text-muted">
                        Vecimento: @food.ExpireAt.ToShortDateString()
                    </small>
                    <p class="card-text text-truncate-line">@food.Description</p>
                </div>
                <div class="card-footer d-flex justify-content-between align-items-center">
                    <small>@(food.Type.GetAttribute<DisplayAttribute>().Name)</small>
                    @if(!hasUser)
                    {
                        <button
                            type="button"
                            class='btn btn-sm btn-@buttonSeverity make-requisition'
                            data-bs-toggle="modal"
                            data-bs-target="#requisitionFoodModal"
                            data-modal-action-text="a reserva"
                        >
                            @buttonText
                        </button>
                    }
                    else
                    {
                        <button
                            type="button"
                            class='btn btn-sm btn-@buttonSeverity make-requisition'
                            data-bs-toggle="modal"
                            data-bs-target="#requisitionFoodModal"
                            data-food-id="@food.FoodId"
                            data-food-name="@food.Name"
                            data-food-has-manufactured-date="@(food.ManufacturedAt.HasValue.ToString().ToLower())"
                            data-food-manufactured-at="@food.ManufacturedAt?.ToShortDateString()"
                            data-food-expire-at="@food.ExpireAt.ToShortDateString()"
                            data-food-is-perishable="@food.IsPerishable.GetValueOrDefault(false).ToString().ToLower()"
                            data-food-type="@(food.Type.GetAttribute<DisplayAttribute>().Name)"
                            data-food-description="@food.Description"
                            data-donor-id="@food.UserId"
                            data-donor-name="@food.User?.Name"
                            data-donor-contact="@food.User?.Phone"
                            data-donor-location="@food.User?.Address?.City"
                            data-modal-title='@(hasUser && isSameUser ? "Informações detalhadas" : "Solicitar reserva do alimento")'
                            data-modal-donor-text='@(hasUser && isSameUser ? "Suas informações" : "Informações sobre o doador")'
                            data-modal-close-text='@(hasUser && isSameUser ? "Fechar" : "Cancelar")'
                            data-modal-is-minimal='@((hasUser && isSameUser).ToString().ToLower())'
                        >
                            @buttonText
                        </button>
                    }
                </div>
            </div>
        </div>
    }
</div>

@if(hasUser)
{
    <partial name="_RequisitionModal" model="@Model.Requisition" />
    @section Scripts{
        <script src="~/js/dist/food.logged.modal.prod.js" asp-append-version="true"></script>
    }
}
else
{
    <partial name="_UserNotLoggedModal" />
    @section Scripts {
        <script src="~/js/dist/food.notlogged.modal.prod.js" asp-append-version="true"></script>
    }
}